@font-face {
  font-family: 'riift';
  src: url('/assets/RiiT_F.otf');
}

body {
  background-image: url('/assets/back.jpg');
  background-size: contain;
  width: 100vw;
  height: 100vh;
  font-family: 'riift';
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.devrama-book .book ul.front li.front h1 {
  text-align: center;
  font-size: 36px;
  margin: 1.8em 0 0 0;
  text-shadow: -1px -1px #000;
  color: rgb(97, 97, 97);
}

.profile-page {
  height: 100%;
  padding: 10px 20px;
}

.person {
  position: relative;
  top: 10px;
}

.profile {
  position: relative;
  top: 10%;
}

.profile .item {
  margin-bottom: 20px;
}

.profile,
.person p {
  font-size: 30px;
}

#profile-name {
  font-size: 50px;
}

.introduced-people-page {
  height: 100%;
  padding: 10px 20px;
  padding-top: 20px;
}

.introduced-people-page .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.page .introduced-people-page .people {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  height: 100%;
  list-style: none;
  padding-bottom: 20px;
  padding-top: 25px;
  position: relative;
  width: 100%;
}

.people .name {
  font-size: 25px;
  margin-right: 10px;
  height: initial !important;
  position: relative !important;
  width: initial !important;
}